.btn-floating{
	font-size: 20px;
	color: #14548C;
	z-index: 
}
.carousel-indicators li {
      display: inline-block;
      font-size: 40px;
      margin: 10px;
      text-indent: 0;
      cursor: pointer;
      border: none;
      border-radius: 10%;
      background-color: #14548C;
}
.carousel-indicators .active {
      width: 48px;
      height: 48px;
      margin: 10px;
      background-color: #456673;
}
.carousel-indicators {
    bottom: -50px; 
}
.btn-primary {
    background-color: #68889E;
	color:#FFF;
	border-color: #2F3E48;
}
.btn-primary:active{
/*formatting goes here*/
 	color: #14548C;
}

